<div class="div_facts per_row_<%=per_row%>" data-partial_name="<%= partial_name %>" data-is_render_paginator="<%= is_render_paginator %>">
  <% news_list.each do |fact| %>

      <%= check_preview(render_one_fact(fact,partial_name).to_s, fact.fphotos, fact.title) %>

  <% end %>
</div>
<% if is_news_page || is_render_paginator %>
    <div class="div_will_paginate">
      <%= will_paginate news_list %>
    </div>
<% end %>
